$step-indicator-diameter: 50px;
$step-indicator-interspace: 15px;
$step-indicator-divider-height: 2px;
$step-indicator-color: lightgray;
$step-indicator-complete-color: #5cb85c;
$step-indicator-current-color: darkgray;
$step-container-width: $step-indicator-diameter + 20px;

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

body {
    position: relative;
    background: rgb(32, 33, 36);
    color: #FFF;
}

/* Defining font size classes */
.fs-smallest {
    font-size: 0.6rem !important;
}

.fs-less-significant {
    font-size: 0.75em !important;
}

.fs-normal {
    font-size: 1rem !important;
}

.fs-subtitle {
    font-size: 1.2rem !important;
}

.fs-title {
    font-size: 1.5rem !important;
}

.fs-header {
    font-size: 2rem !important;
}

.fs-3 {
    font-size: 3rem !important;
}

.fs-4 {
    font-size: 4rem !important;
}

.fs-largest {
    font-size: 6rem !important;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
}

ol.multistep {
    list-style-type: none;
}

.multistep {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    counter-reset: multistep;
}

.multistep .step {
    position: relative;
    display: block;
    /* Give all steps the same width so computations to determine divider length work */
    width: $step-container-width;
    padding-top: $step-indicator-diameter + 10px;
    margin-right: $step-indicator-interspace;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

    &:last-child {
        margin-right: 0;
    }

    &::before {
        box-sizing: border-box;
        counter-increment: multistep;
        content: counter(multistep);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: $step-indicator-diameter;
        height: $step-indicator-diameter;
        border-radius: 50%;
        background: $step-indicator-color;
        line-height: $step-indicator-diameter;
        color: rgba(0, 0, 0, 0.6);
    }

    &.step--complete::before {
        background: $step-indicator-complete-color;
    }

    &.step--current::before {
        background: $step-indicator-current-color;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: ($step-indicator-diameter - $step-indicator-divider-height) / 2;
        left: calc(50% + #{$step-indicator-diameter / 2} - 1px);
        width: calc(100% - #{$step-indicator-diameter} + #{$step-indicator-interspace} + 2px);
        height: $step-indicator-divider-height;
        background: $step-indicator-color;
    }

    &.step--complete::after {
        background: $step-indicator-complete-color;
    }

    &.step--current::after {
        background: $step-indicator-current-color;
    }

    &:last-of-type::after {
        display: none;
    }
}

.card {
    position: relative;
    display: block;
    padding: 25px 35px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

.movie-step {
    display: flex;
    flex-direction: column;
}

.movie-step__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data-step__datepicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.movie-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
}

.movie-summary__thumbnail {
    order: 1;
    width: 50px;
    height: 50px;
}

.movie-summary__thumbnail + .movie-summary__content {
    margin-left: 20px;
}

.movie-summary__content {
    order: 2;
}

.movie-summary__title {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 15px;
    background: #65D1B7;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    cursor: pointer;

    &:disabled, &[disabled] {
        cursor: not-allowed;
        background: gray;
        color: lightgray;

        &:hover {
            background: gray;  
        }
    }
}

.button:hover {
    background: darken($color: #65D1B7, $amount: 20%);
}

.movie-selector {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-option {
    position: relative;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
}

.movie-option.recommended {
    width: 200px;
    height: 200px;
}

.movie-option:hover, .movie-option:focus-within {
    transform: scale(1.2);

    .movie-option__label {
        background: rgba(0, 0, 0, 0.3);
        color: white;
    }

    &::before {
        transform: translateY(12px);
        opacity: 0.2;
    }
}

.movie-option::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
    border-radius: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    background: #000;
    box-shadow: 0 0 12px 6px #000;
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1)
        opacity 0.4s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0.4;
}

.movie-option__container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: darkgray;
}

.movie-option__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

.movie-option__label {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: transparent;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.movie-option__input:checked + .movie-option__label {
    border: 5px solid rgb(78, 228, 111);
}

.movie-option__artwork {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
}

.featured-movie-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.featured-movie__button {
    display: block;
    position: relative;
    border: none;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
    color: transparent;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2rem;
}

.featured-movie.recommended .featured-movie__button{
    width: 200px;
    height: 200px;
}

/* Box Shadow as separate element to animate at 60fps */
.featured-movie__button::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
    border-radius: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    background: #000;
    box-shadow: 0 0 12px 6px #000;
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1),
        opacity 0.4s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0.4;
    transform: translateZ(-1em);
}

.featured-movie__button:hover, .featured-movie__button:focus-within {
    transform: scale(1.2);
    color: #FFF;
    text-shadow: 0 1px 0 black;

    &::before {
        transform: translate3d(0,  12px, -1em);
        opacity: 0.2;
    }
}

.app--modal-open {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.modal__content {
    order: 2;
    width: 100%;
    max-width: 750px;
    background: #FFF;
    color: #000;
    overflow: auto;
    margin: 30px 0;
}

.modal__backdrop {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    z-index: -1;
}

.modal--visible {
    visibility: visible;
    opacity: 1;
}
.modal--visible .modal__backdrop {
    opacity: 0.4;
}

.modal__dismiss-button {
    position: relative;
    order: 1;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0px 30px;
    background: transparent;
    opacity: 0.5;
    margin-top: 20px;
}

.modal__dismiss-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 30px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 5px;
    background: #FFF;
}

.modal__dismiss-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 30px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 5px;
    background: #FFF;
}

/* Modal Listing component styles */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 510px;
    background: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
}

.hero__title {
    margin: 20px;
    font-size: 50px;
    font-weight: 900;
    color: #FFF;
    text-shadow: 0 1px 0 black;
    z-index: 10;
}

.movie-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px 30px;
}


.movie-overview__metadata {
    min-width: 125px;
    margin-right: 40px;
}

.movie-overview__runtime {
    font-weight: 600;
    text-transform: uppercase;
}

.movie-overview__tagline {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}