$step-indicator-size: 45px;
$step-indicator-interspace: 50px;
$step-indicator-color: lightgray;
$step-indicator-complete-color: green;
$step-indicator-current-color: darkgray;
$step-container-width: $step-indicator-size + 30px;

body {
    position: relative;
    background: #eee;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
}

.movie-selector {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-option {
    position: relative;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
}

.movie-option.recommended {
    width: 200px;
    height: 200px;
}

.movie-option:hover, .movie-option:focus-within {
    transform: scale(1.2);

    .movie-option__label {
        background: rgba(0, 0, 0, 0.3);
        color: white;
    }

    &::before {
        transform: translateY(12px);
        opacity: 0.2;
    }
}

.movie-option::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
    border-radius: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    background: #000;
    box-shadow: 0 0 12px 6px #000;
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1)
        opacity 0.4s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0.4;
}

.movie-option__container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: darkgray;
}

.movie-option__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

.movie-option__label {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: transparent;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.movie-option__input:checked + .movie-option__label {
    border: 5px solid rgb(78, 228, 111);
}

.movie-option__artwork {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
}

ol.multistep {
    list-style-type: none;
}

.multistep {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    counter-reset: multistep;
}

.multistep .step {
    position: relative;
    display: block;
    /* Give all steps the same width so computations to determine divider length work */
    width: $step-container-width;
    padding-top: $step-indicator-size + 15px;
    margin-right: $step-indicator-interspace;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        box-sizing: border-box;
        counter-increment: multistep;
        content: counter(multistep);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: $step-indicator-size;
        height: $step-indicator-size;
        border-radius: 50%;
        background: $step-indicator-color;
        line-height: $step-indicator-size;
    }

    &.step--complete::before {
        background: $step-indicator-complete-color;
    }

    &.step--current::before {
        background: $step-indicator-current-color;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: $step-indicator-size / 2;
        left: calc(50% + #{$step-indicator-size / 2});
        width: calc(100% - #{$step-indicator-size} + #{$step-indicator-interspace});
        height: 4px;
        background: $step-indicator-color;
    }

    &.step--complete::after {
        background: $step-indicator-complete-color;
    }

    &.step--current::after {
        background: $step-indicator-current-color;
    }

    &:last-of-type::after {
        display: none;
    }
}

.card {
    position: relative;
    display: block;
    padding: 20px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

.movie-step {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-step__overview {
    max-width: 400px;
}

.movie-step__selection {
    max-width: 500px;
}

.movie-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
}

.movie-overview__thumbnail {
    order: 1;
    width: 50px;
    height: 50px;
}

.movie-overview__thumbnail + .movie-overview__content {
    margin-left: 20px;
}

.movie-overview__content {
    order: 2;
}

.movie-overview__title {
    margin-top: 0;
}